* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

$leftWidth:720px;
$rightWidth:300px;
$containerWidth:1060px;
$askWidth:470px;

body {
  background: #fff;
}

ul {
  li {
    list-style: none;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

h2,
h3,
h4 {
  font-weight: normal;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.c_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #EFEFEF;
}

.aLink {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  background: #03C302;
  color: #fff;
  padding: 0 4px;
}

.c_header .c_box {
  display: flex;
  justify-content: space-between;
  padding: 35px 70px 30px 200px;
  background: url(../image/h-1.png) left center no-repeat;
}

.c_header .c_box h1 {
  font-family: Krungthep;
  letter-spacing: 3.3px;
  color: #273677;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);


}

.c_header .c_box p {
  margin-top: 4px;
  font: Regular 27px/33px Helvetica Neue;
  font-size: 24px;
  letter-spacing: 2.7px;
  color: #000000;

  span {
    display: none;
  }
}

.join_btn {
  display: inline-block;
  background: url(../image/h-b.png) center center no-repeat;
  background-size: 100%;

}

.c_header .join_btn {
  width: 235px;
  height: 86px;
}

.c_top {
  padding-top: 163px;

  .container {
    height: 120px;
    background: url(../image/logo2.png) left center no-repeat;
    background-size: 294px;
  }
}

.bg_box {
  background: #EFEFEF;
  height: 10px;
}

.pt_50 {
  padding-top: 50px;
}

.pt_70 {
  padding-top: 70px;
}

.c-content {
  color: #050505;

  .c_left {
    display: inline-block;
    padding-top: 24px;
    width: $leftWidth;
    padding-bottom: 115px;

    .c_article {
      >img {
        border-radius: 14px;
        margin: 24px 0;
        width: 100%;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      }

      .img_2 {
        margin: 36px 0;
      }

      >p {
        font-size: 18px;
        letter-spacing: 0.6px;
        line-height: 1.6;
      }

      h1 {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 14px;

      }

      h3 {
        font-size: 16px;
        letter-spacing: 1.6px;
        margin-bottom: 12px;

        span {
          letter-spacing: 0;
          color: #A8A8A8;
          font-size: 10px;
        }

        b {
          letter-spacing: 0;
          font-weight: normal;
          color: #39548E;
          font-size: 10px;

        }
      }

      .c_share {
        padding: 0 0 5px;
        font-size: 12px;
        color: #585858;
        letter-spacing: 1.3px;
        font-size: 16px;
        display: flex;
        border-bottom: 2px solid #c8c8c8;

        ul {
          margin-left: 20px;

          li {
            display: inline-block;
            margin-left: 4px;

            img {
              width: 22px;
            }


          }
        }
      }
    }

    .c_ask {
      display: inline-block;
      width: $askWidth;

      h2 {
        font-weight: 500;
        color: #8E3939;
        font-size: 24px;
        margin-bottom: 14px;
      }

      p {
        letter-spacing: 0.6px;
        font-size: 18px;
        margin-bottom: 20px;

      }
    }



    .c_ask_100 {
      width: auto;
    }

    .c_scan {
      float: right;
      width: 232px;
      text-align: center;
      padding-top: 30px;

      .green {
        padding: 1px;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 22px;
        background: #03C302;
        letter-spacing: 2.2px;
      }

      .c_code {
        margin-top: 6px;
        border: 1px solid #707070;
      }

      p {
        margin-top: 6px;
        font-size: 14px;
        letter-spacing: 1.5px;
      }


    }

    .c_comment {
      margin-top: 20px;
      margin-top: 60px;

      h2 {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;

        span {
          letter-spacing: 2px;
          // font-style: oblique;
        }
      }

      .c_line {
        margin: 13px 0 0;
        height: 4px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #d5d5d5;
      }

      ul {
        li {
          border-bottom: 1px solid #d5d5d5;
          padding-top: 20px;

          .flex {
            display: flex;
            padding-left: 16px;
            align-items: center;

            .text-c {
              width: 100px;
              margin-right: 26px;

              >p {
                font-weight: 500;
                letter-spacing: 1.7px;
                font-size: 16px;
                font-style: oblique;
                margin-top: 4px;
              }
            }

            >p {
              line-height: 1.6;
              font-size: 16px;
              margin-top: -6px;
              flex: 1;
              margin-bottom: 15px;
            }
          }

          .text-r {
            font-size: 12px;
            letter-spacing: 0.88px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }


}

.c_hide {
  display: none;
}

.c_more {
  margin-top: 10px;

  a {
    font-weight: 500;
    color: #0B174B;
    font-size: 16px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.c_right {
  float: right;
  width: $rightWidth;
  color: #050505;
  padding-top: 125px;

  ul {
    li {
      margin-bottom: 30px;
      padding: 16px;
      border: 1px solid rgba(112, 112, 112, 0.4);

      h2 {
        padding: 2px 0 2px 16px;
        border-left: 8px solid #A74F4F;
        font-size: 18px;
      }

      img {
        margin: 10px 0;
        width: 100%;
      }

      >div {
        display: flex;
        align-items: center;

        p {
          flex: 1;
          font-size: 18px;
          line-height: 1.1;
        }

        .join_btn {
          margin-top: 10px;
          margin-right: -8px;
          width: 130px;
          height: 46px;
        }
      }
    }
  }
}

.p_show {
  display: none;
}

.c_gif {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 14px 16px 4px;
  border: 1px solid rgba(112, 112, 112, 0.4);

  h2 {
    padding: 2px 0 2px 16px;
    border-left: 6px solid #A74F4F;
    font-size: 16px;
    margin-bottom: 12px;
  }

  img {
    width: 100%;
  }
}

.c_foot {
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 16px;
  font-weight: 500;
}

@media screen and (max-width: $containerWidth) {
  .p_show {
    display: block;
  }

  .container {
    width: auto;
    margin: 0 15px;

  }

  .c_header {
    .join_btn {
      width: 33vw;
      height: 48px;
      max-width: 140px;
    }

    .c_box {
      height: 67px;
      padding: 0 0 0 45px;
      align-items: center;
      background: url(../image/h-1-2.png) left center no-repeat;

      .c_1 {
        flex: 1;
      }

      h1 {
        letter-spacing: 2px;

        font-size: 15px;
      }

      p {
        line-height: 1.2;
        margin-top: 1px;
        letter-spacing: 0;
        font-size: 13px;

        span {
          display: block;
        }
      }
    }
  }

  .hide {
    display: none !important;
  }

  .c_top {
    padding-top: 67px;

    .container {
      height: 60px;
      background: url(../image/logo2-2.png) center center no-repeat;
      background-size: 142px;
      border-bottom: 1px solid #EAEAEA;

    }
  }

  .c-content {


    .c_left {
      max-width: 500px;
      margin: 0 auto;
      padding-bottom: 40px;
      padding-top: 18px;
      width: auto;
      display: block;

      .c_article {
        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 14px;
        }

        h3 {
          font-size: 12px;
        }

        .c_share {
          border-bottom: 1px solid #707070;
          font-size: 10px;

          ul {
            li {
              img {
                width: 16px;
              }
            }
          }
        }

        >img,
        .img_2 {
          margin: 16px 0;
        }

        >p {
          font-size: 16px;
        }
      }

      .pt_50 {
        padding-top: 30px;
      }

      .c_ask {


        width: auto;

        h2 {
          font-size: 16px;
          margin-bottom: 10px;
        }

        P {
          font-size: 16px;

        }
      }

      .c_scan_p {
        text-align: center;
        padding: 10px 0 30px 0;

        img {
          width: 90%;
        }
      }

      .c_comment {


        .c_line {
          margin: 10px 0 0;
        }

        h2 {
          padding: 0 15px;
          font-size: 14px;
        }

        ul li {
          padding-right: 15px;

          .text-r {
            letter-spacing: 0px;
            font-size: 10px;
          }

          .flex {
            padding-left: 0px;

            >p {
              line-height: 1.5;
              margin-top: 0px;
              font-size: 14px;
            }

            .text-c {
              margin-right: 0px;
              width: 90px;

              img {
                width: 15vw;
                max-width: 65px;
              }

              >p {
                font-size: 12px;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }

    .c_right {
      float: none;
      width: auto;
      display: block;
    }
  }

  .aLink {
    font-size: 10px;
  }

  .c_more {
    margin-top: 2px;

    padding-right: 15px;

    a {
      font-size: 13px;
    }
  }

  .pt_70 {
    padding-top: 20px;
  }

  .c_foot {
    margin-top: 10px;
    font-size: 10px;
    padding: 0 30px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 480px) {
  .c_comment {
    margin-left: -15px;
    width: 100vw;
  }
}